/*
	Fichier CSS de l'application Tchat 1.0
	
	@author Serge COUDÉ
	@since 2014-12-23
	
*/

/*
 * Style pour le titre de l'application 
 */
h1 {
	text-align: center;
	color: gray;
	font-size: 35px;
}

/*
 * Style pour le lien de retour
 */
.lienRetour {
	text-align: center;
	text-decoration: none;
	background-color: gray;
	color: black;
	font-size: 25px;
	border-width: 1px;
	margin: auto;
	display: block;
}

/*
 * Style appliqué aux formulaires
 */
.formulaire {
	width: 500px; 
	height: 200px; 
	margin: 25px auto; 
	margin: 25px auto 25px auto;
	margin-top: 25px;
	margin-right: auto;
	margin-bottom: 25px;
	margin-left: auto;
	background-color: #CCC;
	text-align: center;
	padding: 30px;
}

/*
 * Style du cadre pour afficher des résultats
 */
.cadreRes {
	width: 350px; 
	height: 50px; 
	margin: 10px auto 10px auto;
	text-align: center;
	padding: 5px;
	border: 1px solid black;
	border-radius: 15px;
}

/*
 * Style du cadre lorsque le résultat est bon
 */
.resOK {
	background-color: #CCFFCC;
}	

/*
 * Style du cadre lorsque le résultat est mauvais
 */
.resKO {
	background-color: #FF0000;
	color: white;
}

header {
}

#userinfo {
	width: 20%;
	border: 1px solid black;
	padding: 5px;
	text-align: center;
	border-radius: 10px;
	font-size: 10px;
	float: right;
}

header  button {
	font-size: 6px;
	margin: 0px;
}	

header p {
	margin: 0px;
}	

.divSalons {
	width: 30%;
	border: 1px solid black;
	border-radius: 10px;
	height: 10vmax;
	font-size: 12px;
	padding: 5px;
}

nav p {
	font-size: 12px;
	margin: 0px;
}

#divSalAve {
}

#divSalOuv {
}

#main {
	width: 40%;
	height: 30vmax;
	border: 1px solid black;
	position: absolute;
	left: 35%;
	top: 3vmax;
	font-size: 10px;
}

footer p {
	float: right;
	font-size: 10px;
	font-style: italic;
	font-weight: bold;
}

#messages {
	height: 27vmax;
	
}

#divFormMsg {
	height: 2vmax;
	font-size: 12px;
}

#divFormMsg input[type="text"] {
	width: 70%;
}
#divFormMsg input[type="submit"] {
	font-size: 10px;
	width: 25%;
}

.message {
	margin: 0px;
}

.message .pseudo {
	font-style: italic;
}	

span.message {
	font-weight: bold;
}